.Container {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  position: absolute;
  box-sizing: border-box;
  animation: AnimPicture 0.5s ease-in-out;
}

.BackgroundVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

/************************************/

/*** ANIMATIONS ***/
@keyframes AnimPicture {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
