.Container {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  position: absolute;
  box-sizing: border-box;
}

/******************************/

.Picture {
  display: inline-block;
  position: absolute;

  width: 50%;
  height: 100vh;

  background-position-x: -400px;
  background-size: cover;
  background-repeat: no-repeat;

  animation: AnimPicture 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
  border: none;
}

/******************************/

.SubContainer {
  display: inline-block;
  position: absolute;
  right: 0;

  width: 50%;
  height: 100%;
}

.Title {
  display: flex;
  width: 100%;
  height: 35%;
  position: absolute;

  color: white;
  background-color: #7c02f6;

  justify-content: center;
  align-items: center;

  animation: AnimTitle 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
  border: none;
}

.Title h2 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 900;
  font-style: italic;
}

.Picture2 {
  display: inline-block;
  width: 100%;
  height: 65%;
  position: absolute;

  bottom: 0px;

  background-position: center;
  background-position-x: -250px;
  background-size: cover;
  background-repeat: no-repeat;

  animation: AnimPicture2 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
  border: none;
}

/************************************/

/*** ANIMATIONS ***/
@keyframes AnimPicture {
  0% {
    left: -50%;
  }
  100% {
    left: 0px;
  }
}

@keyframes AnimTitle {
  0% {
    top: -100%;
  }
  100% {
    top: 0px;
  }
}

@keyframes AnimPicture2 {
  0% {
    right: -100%;
  }
  100% {
    right: 0px;
  }
}
