/**********/
/* HEADER */
/**********/

/* MOBILE FIRST */
/* MOBILE SMALL */

.Container {
  display: flex;
  width: 100vw;
  height: 50px;
  margin: 0;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

  position: absolute;

  align-items: center;

  /*background-color: #7c02f6;*/

  animation: AnimContainer 0.5s ease-in-out;

  z-index: 5;
}

/********************************************/

.LogoOrange {
  display: inline-block;
  width: calc(221px / 1.5);
  height: calc(34px / 1.5);
  margin: 10px;
  text-indent: -9999px;

  background: none;
  background-image: url(./assets/trueno.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.LogoOrange:hover {
  cursor: pointer;
}

/********************************************/

.BurgerBar {
  width: 100px;
  animation: AnimBurger cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

/*** ANIMATIONS ***/
@keyframes AnimBurger {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

.BurgerMenu {
  display: inline-block;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 10px;

  background: none;
  border: none;
  cursor: pointer;
}

/********************************************/

.NavContainer {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;

  box-sizing: content-box;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 4;

  animation-name: AnimContainer;
  animation-duration: 0.5s;
}

.NavItemContainer {
  display: inline-block;
  padding-left: 0px;
  text-align: center;
}

.NavItem {
  list-style-type: none;
  padding: 5px;

  animation-name: AnimItem;
  animation-duration: 1s;
}

.NavButton {
  background: none;
  border: none;
  list-style-type: "";

  animation-name: AnimButton;
  animation-duration: 1s;

  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 32px;

  cursor: pointer;
}

.NavNoSelected {
  color: #8200ff;
}

.NavNoSelected:hover {
  color: #ff8b00;
}

.NavSelected {
  color: #ff8b00;
}

/***********************************/

/**************/
/* ANIMATIONS */
/**************/
@keyframes AnimContainer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes AnimItem {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes AnimButton {
  0% {
    letter-spacing: 1px;
  }
  25% {
    letter-spacing: 1px;
  }
  100% {
    letter-spacing: normal;
  }
}
