.Container {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  position: absolute;
  box-sizing: border-box;

  background-color: #8200ff;
  animation: AnimContainer 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

/******************************/

.Picture {
  display: inline-block;
  width: 100vw;
  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  cursor: pointer;
}

/******************************/
/* MENU DE ABAJO */

.MenuContainer {
  display: flex;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;

  background: linear-gradient(
    0deg,
    rgba(255, 139, 0, 0.25) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  z-index: 3;
  align-items: center;
}

.Return {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: none;
  background-image: url(./assets/back1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  left: 10px;
  cursor: pointer;

  border: none;
  animation: AnimBack 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

.MenuName {
  color: white;
  font-size: 20px;
  margin-left: 80px;
}

/******************************/
/**************/
/* ANIMATIONS */
/**************/
@keyframes AnimContainer {
  0% {
    top: -100%;
  }
  100% {
    top: 0px;
  }
}

@keyframes AnimBack {
  0% {
  }
  50% {
    transform: rotate(180deg) scale(0);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

/******************************/

@media screen and (min-width: 640px) {
  .Picture {
    background-size: cover;
  }

  .Contain {
    background-size: contain !important;
  }
}
